{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    window.onload = function(){

        const listCart = document.getElementById("listCart");
        const adressCart = document.getElementById("adressCart");
        const btnNextStep = document.getElementById("nextStep");
        const btnPreviousStep = document.getElementById("previousStep");
        listCart.style.display="block";

        function nextStep(event) {
            event.preventDefault()
            adressCart.classList.remove("d-none");
            adressCart.classList.remove("d-block");
            listCart.style.display = "none";
            btnPreviousStep.removeAttribute("disabled")
            btnNextStep.setAttribute("disabled", true)
            console.log('Ok')
        }

        function previousStep(event) {
            event.preventDefault()
            listCart.style.display = "block";
            adressCart.classList.remove("d-block");
            adressCart.classList.remove("d-none");
            btnPreviousStep.setAttribute("disabled", true)
            btnNextStep.removeAttribute("disabled")
        }

        // Edition de la personnalisation d'un produit
        function customEdit(event){
            event.preventDefault()
            let formCustom = this.parentElement.parentElement.parentElement.parentElement.parentElement
            let urlCustom = formCustom.action
            let data = new FormData(formCustom)
            const formCustomdata =  JSON.stringify(Object.fromEntries(data));
            axios
                .post(urlCustom, formCustomdata)
                .then(function(response){
                    // préparation du toaster
                    var option = {
                        animation: true,
                        autohide: true,
                        delay: 3000,
                    };
                    // initialisation du toaster
                    var toastHTMLElement = document.getElementById("toaster");
                    var message = response.data.message;
                    var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                    toastBody.textContent = message;
                    var toastElement = new bootstrap.Toast(toastHTMLElement, {animation: true, autohide: true, delay: 3000});
                    toastElement.show();
                    // Appel de la fonction d'incrémentation d'un produit
                    document.querySelectorAll('a.js-increment').forEach(function (link){
                        link.addEventListener('click', onClickBtnIncrement);
                    })
                    // Appel de la fonction de décrementation d'un produit
                    document.querySelectorAll('a.js-decrement').forEach(function (link){
                        link.addEventListener('click', onClickBtnDecrement);
                    })
                    // Création de l'évènement pour la confirmation de la commande
                    document.querySelectorAll('a.confPurchase').forEach(function (link){
                        link.addEventListener('click', BtnConfPurchase);
                    })
                    // Appel de la fonction de duplication d'un produit
                    document.querySelectorAll('a.duplicate').forEach(function (link){
                        link.addEventListener('click', onClickDuplicate);
                    })
                    // Appel de la fonction de duplication d'un produit
                    document.querySelectorAll('button.FormCustomization').forEach(function (link){
                        link.addEventListener('click', customEdit);
                    })
                    // Action sur le NextStep
                    btnNextStep.addEventListener('click', nextStep)
                    // Action sur le PreviousStep
                    btnPreviousStep.addEventListener('click', previousStep)
                    window.location.reload();
                })
        }

        // Construction de la fonction de confirmation de la commande
        function BtnConfPurchase(event){
            event.preventDefault()
            const url = document.getElementById('cart_confirmation').action
            const formdata = new FormData(document.getElementById('cart_confirmation'))
            const data =  JSON.stringify(Object.fromEntries(formdata));
            axios.post(url, data)
        }

        // Construction de la fonction "onClickBtnIncrement" : incrémentation d'un produit
        function onClickBtnIncrement(event){
            event.preventDefault();
            const url = this.href;
            console.log(url);
            axios
                .post(url)
                .then(function(response) {
                    // Rafraichissement du tableau "liste"
                    // const listecart = document.getElementById('liste').innerHTML = response.data.liste;
                    // Appel de la fonction d'incrémentation d'un produit
                    document.querySelectorAll('a.js-increment').forEach(function (link){
                        link.addEventListener('click', onClickBtnIncrement);
                    })
                    // Appel de la fonction de décrementation d'un produit
                    document.querySelectorAll('a.js-decrement').forEach(function (link){
                        link.addEventListener('click', onClickBtnDecrement);
                    })
                    // Création de l'évènement pour la confirmation de la commande
                    document.querySelectorAll('a.confPurchase').forEach(function (link){
                        link.addEventListener('click', BtnConfPurchase);
                    })
                    // Appel de la fonction de duplication d'un produit
                    document.querySelectorAll('a.duplicate').forEach(function (link){
                        link.addEventListener('click', onClickDuplicate);
                    })
                    // Appel de la fonction de duplication d'un produit
                    document.querySelectorAll('button.FormCustomization').forEach(function (link){
                        link.addEventListener('click', customEdit);
                    })
                    // Action sur le NextStep
                    btnNextStep.addEventListener('click', nextStep)
                    // Action sur le PreviousStep
                    btnPreviousStep.addEventListener('click', previousStep)
                    window.location.reload();
                });
        }

        // Construction de la fonction "onClickBtnIncrement" : incrémentation d'un produit
        function onClickBtnDecrement(event){
            event.preventDefault();
            const url = this.href;
            console.log(url);
            axios
                .post(url)
                .then(function(response) {
                    // Rafraichissement du tableau "liste"
                    // const liste = document.getElementById('liste').innerHTML = response.data.liste;
                    // Appel de la fonction d'incrémentation d'un produit
                    document.querySelectorAll('a.js-increment').forEach(function (link){
                        link.addEventListener('click', onClickBtnIncrement);
                    })
                    // Appel de la fonction de décrementation d'un produit
                    document.querySelectorAll('a.js-decrement').forEach(function (link){
                        link.addEventListener('click', onClickBtnDecrement);
                    })
                    // Création de l'évènement pour la confirmation de la commande
                    document.querySelectorAll('a.confPurchase').forEach(function (link){
                        link.addEventListener('click', BtnConfPurchase);
                    })
                    // Appel de la fonction de duplication d'un produit
                    document.querySelectorAll('a.duplicate').forEach(function (link){
                        link.addEventListener('click', onClickDuplicate);
                    })
                    // Appel de la fonction de duplication d'un produit
                    document.querySelectorAll('button.FormCustomization').forEach(function (link){
                        link.addEventListener('click', customEdit);
                    })
                    // Action sur le NextStep
                    btnNextStep.addEventListener('click', nextStep)
                    // Action sur le PreviousStep
                    btnPreviousStep.addEventListener('click', previousStep)
                    window.location.reload();
                });
        }

        // fonction de duplication de la ligne
        function onClickDuplicate(event){
            event.preventDefault();
            const url = this.href;
            axios
                .post(url)
                .then(function(response) {
                    // Rafraichissement du tableau "liste"
                    //const liste = document.getElementById('liste').innerHTML = response.data.liste;
                    // Appel de la fonction d'incrémentation d'un produit
                    document.querySelectorAll('a.js-increment').forEach(function (link){
                        link.addEventListener('click', onClickBtnIncrement);
                    })
                    // Appel de la fonction de décrementation d'un produit
                    document.querySelectorAll('a.js-decrement').forEach(function (link){
                        link.addEventListener('click', onClickBtnDecrement);
                    })
                    // Création de l'évènement pour la confirmation de la commande
                    document.querySelectorAll('a.confPurchase').forEach(function (link){
                        link.addEventListener('click', BtnConfPurchase);
                    })
                    // Appel de la fonction de duplication d'un produit
                    document.querySelectorAll('a.duplicate').forEach(function (link){
                        link.addEventListener('click', onClickDuplicate);
                    })
                    // Appel de la fonction de duplication d'un produit
                    document.querySelectorAll('button.FormCustomization').forEach(function (link){
                        link.addEventListener('click', customEdit);
                    })
                    // Action sur le NextStep
                    btnNextStep.addEventListener('click', nextStep)
                    // Action sur le PreviousStep
                    btnPreviousStep.addEventListener('click', previousStep)
                    window.location.reload();
                });
        }

        // Appel de la fonction d'incrémentation d'un produit
        document.querySelectorAll('a.js-increment').forEach(function (link){
            link.addEventListener('click', onClickBtnIncrement);
        })
        // Appel de la fonction de décrementation d'un produit
        document.querySelectorAll('a.js-decrement').forEach(function (link){
            link.addEventListener('click', onClickBtnDecrement);
        })
        // Création de l'évènement pour la confirmation de la commande
        document.querySelectorAll('a.confPurchase').forEach(function (link){
            link.addEventListener('click', BtnConfPurchase);
        })
        // Appel de la fonction de duplication d'un produit
        document.querySelectorAll('a.duplicate').forEach(function (link){
            link.addEventListener('click', onClickDuplicate);
        })
        // Appel de la fonction de duplication d'un produit
        document.querySelectorAll('button.FormCustomization').forEach(function (link){
            link.addEventListener('click', customEdit);
        })
        // Action sur le NextStep
        btnNextStep.addEventListener('click', nextStep)
        // Action sur le PreviousStep
        btnPreviousStep.addEventListener('click', previousStep)
    }
</script>
{% endblock %}

{% block content %}
<div id="SoeurMarie_back">
    <header id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <div>
                        <h1>Votre panier</h1>
                    </div>
                    <div>
                        {#
                        <ul class="header__breadcrumb header__breadcrumb--basket header__breadcrumb--short">
                            <li class="header__breadcrumb-item header__breadcrumb-item--short header__breadcrumb-item--active">
                                <a><span>1<span class="header__breadcrumb-label">produits</span></span></a>
                            </li>

                            <li class="header__breadcrumb-item header__breadcrumb-item--short">
                                <a><span>2<span class="header__breadcrumb-label">Coordonnées</span></span></a>
                            </li>

                            <li class="header__breadcrumb-item header__breadcrumb-item--short">
                                <a><span>3<span class="header__breadcrumb-label">Livraison et Paiement</span></span></a>
                            </li>
                        </ul>
                        #}
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section id="page-content" class="op-section">
        <div class="container">
            <div id="alertMessage">
                {% include 'include/_alert.html.twig' with [{'app.flashes': app.flashes}] %}
                {% include 'include/_alert.html.twig' %}
            </div>
            <div id="liste">
                {{ include('gestapp/cart/include/_liste.html.twig')}}
            </div>

        </div>
    </section>
</div>
{% endblock %}

{% block modals %}
    {# annonce toaster #}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-50 end-0 p-3">
            <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Cartes de prières</strong>
                    <small>à l'instant</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
