{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/cartindex.js') }}"></script>
{% endblock %}

{% block content %}
<div id="SoeurMarie_back">
    <header id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <div>
                        <h1>Votre panier</h1>
                    </div>
                    <div>
                        {#
                        <ul class="header__breadcrumb header__breadcrumb--basket header__breadcrumb--short">
                            <li class="header__breadcrumb-item header__breadcrumb-item--short header__breadcrumb-item--active">
                                <a><span>1<span class="header__breadcrumb-label">produits</span></span></a>
                            </li>

                            <li class="header__breadcrumb-item header__breadcrumb-item--short">
                                <a><span>2<span class="header__breadcrumb-label">Coordonnées</span></span></a>
                            </li>

                            <li class="header__breadcrumb-item header__breadcrumb-item--short">
                                <a><span>3<span class="header__breadcrumb-label">Livraison et Paiement</span></span></a>
                            </li>
                        </ul>
                        #}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="page-content" class="op-section">
        <div class="container">
            <div id="alertMessage">
                {% include 'include/_alert.html.twig' with [{'app.flashes': app.flashes}] %}
                {% include 'include/_alert.html.twig' %}
            </div>
            <div id="liste">
                {{ include('gestapp/cart/include/_liste.html.twig')}}
            </div>

        </div>
    </section>
</div>
{% endblock %}

{% block modals %}
    {# annonce toaster #}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-50 end-0 p-3">
            <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Cartes de prières</strong>
                    <small>à l'instant</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
