
    <a class="nav-link" aria-current="panier" href="{{ path('op_webapp_cart_showcart')}}">
        <i class="fa-duotone fa-cart-shopping"></i>
        ({{ cartService.detailedCartItem|length }})
    </a>
