
    <a class="nav-link" aria-current="panier" href="{{ path('op_webapp_cart_showcart')}}">
        <i class="fas fa-shopping-cart"></i>
        Panier ({{ cartService.detailedCartItem|length }})
    </a>
