/* **
* REGLES GENERALES
** */
@media print {
  .new-page {
    page-break-before: always;
  }
}

body {
  width: 1080px;
  /* to centre page on screen*/
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.div-align-center{
  align-items: center;
  justify-content: space-between;
}

.container p{
  text-align: right;
  font-family: "CerebriSans-light", sans-serif;
  font-size : 12px;
  color : #069697;
}

/*** classes .PAGES ***/
.page {
  margin: 1rem;
  padding: 0.5rem;
  border: #009698 solid 1px;
  border-radius: 0.5rem;
  min-height: 1400px;
  max-height: 1400px;
  .row{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    max-width: 100%;
    .col-5 {
      min-width: 5%;
      max-width: 5%;
    }
    .page .row .col-10 {
      min-width: 10%;
      max-width: 10%;
    }
    .page .row .col-15 {
      min-width: 15%;
      max-width: 15%;
    }
    .col-20{
      min-width: 20%;
      max-width: 20%;
    }
    .col-25{
      min-width: 25%;
      max-width: 25%;
    }
    .col-30{
      min-width: 20%;
      max-width: 20%;
    }
    .col-33{
      min-width: 33%;
      max-width: 33%;
    }
    .col-50{
      min-width: 50%;
      max-width: 50%;
    }
    .col-66{
      min-width: 66%;
      max-width: 66%;
    }
    .col-75{
      min-width: 75%;
      max-width: 75%;
    }
    .col-100{
      min-width: 100%;
      max-width: 100%;
    }
  }
  h1, h2, h3, h4, h5, h6{
    font-family: "CerebriSans-light", sans-serif;
  }
  adress {
    font-family: "CerebriSans-light", sans-serif;
    font-size: 14px;
  }
  hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dee2e6;
  }
  p{
    font-family: "CerebriSans-light", sans-serif;
    font-size: 14px;
    text-align: left;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .img-fluid {
    max-width : 100%;
    height : auto;
  }
  .card {
    margin-left: .5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    .card-header {
      padding: .5rem;
      margin-bottom: 0;
      background-color: rgba(0,0,0,.03);
      border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: .5rem;
    }

  }
  // balise table
  table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    tr{
      th, td{
        font-size: 1rem;
        font-family: "CerebriSans-light", sans-serif;
      }
      th {
        padding: .5rem;
        vertical-align: top;
        border-bottom: 1px solid #6e6e6e;
      }
      td {
        padding: .5rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
      tbody tr:last-child {
        padding: .5rem;
        vertical-align: top;
        border-top: 1px solid #6e6e6e;
      }
    }
  }
}