<form method="post" action="{{ path('op_gestapp_product_format_delete', {'id': product_format.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_format.id) }}">
    <button class="btn">Delete</button>
</form>
