{% extends 'admin.html.twig' %}

{% block title %}productFormat index{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ include('gestapp/product_format/include/_section_content_header.html.twig') }}
        <section id="op_admin_content_body">
            <div class="row g-2">
                <div class="col-2">
                    {{ include('gestapp/product_format/include/_section_content_aside.html.twig') }}
                </div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    <h4>Liste des formats</h4>
                                    <p>Créer, Modifier ou supprimer des formats de vente des produits.</p>
                                </div>
                            </div>
                            <div class="row g-1" id="liste">
                                {{ include('gestapp/product_format/include/_liste.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
